{% extends 'global/base.html'%}

{% load static %}

{% block content %}

<div class="conteudo-especifico" style="z-index: 1;">
    <div class="cabecalho">
        <a class="btn-voltar" href="{% url 'produtos' %}">
            <img src="{% static 'assets/icones/btn_voltar.svg'%}" width="25px" height="25px">
        </a>
        <h3 style="color: white;">Detalhes</h1>
    </div>

    <div>
        <a href="{% url 'editar_produto' detalhe_produto.id %}" style="text-decoration: none;">
            <button type="button" class="btn btn-light botao centralizado" style="width: 18rem;"> Editar</button>
        </a>
    </div>

    <div class="card border-dark" style="width: 18rem;">
        <div class="card-body">
            <p class="card-text">Produto: {{detalhe_produto.produto}}</p>
            <p class="card-text">Familia: {{detalhe_produto.familia}}</p>
            <p class="card-text">É empilhavel? : {{detalhe_produto.empilhamento}}</p>  
            <p class="card-text">Tipo de empilhamento: {{detalhe_produto.empilhamento_tipo}}</p>  
            <p class="card-text">Status: 
                {% if detalhe_produto.status == 'Ativo' %}
                    <strong style="color: green;">{{detalhe_produto.status}}</strong>
                {% else %}
                    <strong style="color: brown;">{{detalhe_produto.status}}</strong>
                {% endif %}
            </p>
        </div>   
    </div>     

</div>

{% endblock %}