body {
    overflow-x: hidden;
}

.content {
    margin-bottom: 80px;
}

.brand {
    color: rgb(236, 174, 4);
}

.asteriskField {
    color: red;
}


@media (max-width: 1000px) {
    .w-50 {
        width: 75% !important;
    }
}

@media (min-width: 1001px) {
    .w-50 {
        width: 35% !important;
    }
}

@media (max-width: 500px) {
    .w-50 {
        width: 100% !important;
    }
}