{% extends 'base.html'%}

{% block title %} Lote - {{object.lote}} {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}


<h3 class="pb-3 border-bottom ps-4"><i class="me-2 fa-sharp fa-solid fa-tag fa-sm"></i>Detalhes ordem - {{object.ordem}} <button type="reset" class="btn btn-secondary ms-3"><a href="{% url 'producao'%}" class="text-decoration-none text-reset" > Retornar </a></button></h3>


<div class="container mx-auto bg-body-secondary pt-3 pb-3 rounded text-center">
    
    <span class="fw-bold">Detalhes da produção: {{object.ordem}}</span><br>
    <br>
    <a>Planejado: {{object.volume}} | </a>
    <a>Realizado: {{object.ensacado}}%</a>
 
</div>

<div class="container mx-auto bg-body-secondary mt-3 pb-3 rounded text-center">
    <div class="d-flex flex-row pt-3">
        <button type="reset" class="btn btn-warning ms-3"><a href="#" class="text-decoration-none text-reset" > Apontar </a></button>
    </div>
</div>

<div class="container mt-5">

    <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th class="text-center gd-table">PID</th>
            <th class="text-center gd-table">Posição</th>
            <th class="text-center gd-table">Produto</th>
            <th class="text-center gd-table">Lote</th>
            <th class="text-center gd-table">Quantidade</th>
          </tr>
        </thead>
        <tbody>
            <th class="text-center gd-table">1</th>
            <th class="text-center gd-table">1</th>
            <th class="text-center gd-table">1</th>
            <th class="text-center gd-table">1</th>
            <th class="text-center gd-table">1</th>
        </tbody>
      </table>
</div>


{% endblock content %}