{% extends 'base.html'%}

{% block title %} Nova Produção {% endblock title %}

{% load crispy_forms_tags %}

{% block content %}

<h3 class="pb-3 border-bottom ps-4"><i class="me-2 fa-sharp fa-solid fa-tag fa-sm"></i>Nova Produção</h3>

<div class="container bg-body-secondary mt-4 pt-3 pb-3 rounded">
    <form method="POST" action=".">  
        {% csrf_token %}
        {{ form|crispy }}  
        <button type="submit" class="btn btn-success"> Salvar </button>
        <button type="reset" class="btn btn-secondary"><a href="{% url 'producao'%}" class="text-decoration-none text-reset" > Retornar </a></button>

    </form>
</div>

{% endblock content %}