{% extends 'base.html'%}

{% load static %}

{% block title %} Produção {% endblock title %}

{% block content %}

<h3 class="pb-3 border-bottom ps-4"><i class="me-2 fa-sharp fa-solid fa-tag fa-sm"></i>Produção - Visão geral</h3>

{% if producao_lista %}
<div class="container-fluid pb-2">

    <button type="button" class="btn btn-success ps-4 pe-4"><a href="" class="text-decoration-none text-reset" >Nova Produção</a></button>

</div>
  
<div class="container-fluid mb-5 pb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
      {% for producao in producao_lista%}
        <div class="col mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lote: {{ producao.lote }}</h5>
              <h6 class="card-subtitle mb-2 text-body-secondary">
                Status:
                {% if producao.get_status_display == 'Pendente' %} 
                <span class="badge rounded-pill text-bg-secondary">{{ producao.get_status_display }}</span>
                {% elif producao.get_status_display == 'Em andamento' %} 
                <span class="badge rounded-pill text-bg-warning">{{ producao.get_status_display }}</span>
                {% else %} 
                <span class="badge rounded-pill text-bg-success">{{ producao.get_status_display }}</span>
                {% endif %} 
              </h6>
              <p class="card-text">
                <div>Volume total: {{ producao.volume }}</div>
                <div>Volume ensacado: 0</div>
              </p>
              <a href="#" class="card-link">
                <button type="button" class="btn btn-secondary">Acessar</button>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>  

{% else %}
<div class="container">
    <p class="alert alert-warning">Nem uma produção prevista. Deseja <a href="">iniciar uma nova</a>?</p>
</div>

{% endif %}

{% endblock content %}