{% extends 'base.html'%}

{% block content %}

  <h2 class="pb-3 border-bottom ps-3">Dashboard</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 pb-3 pt-5 ps-3 pe-3">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">Em construção</h3>
      <p class="text-body-secondary">Em construção</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5 pb-3 pt-5 ps-3 pe-3">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h3 class="fw-bold">Em construção</h3>
      <p class="text-body-secondary">Em construção</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
          </div>
          <h4 class="fw-semibold mb-0">Em construção</h4>
          <p class="text-body-secondary">Em construção</p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}