{% extends 'base.html'%}

{% block title %} Posições {% endblock title %}

{% block content %}

<h3 class="pb-3 border-bottom ps-4"><i class="me-2 fa-sharp fa-solid fa-tag fa-sm"></i>Posições - Visão geral</h3>

<div class="container-fluid pb-2">
    {% if objetos_lista %}
    <button type="button" class="btn btn-success ps-4 pe-4"><a href="{% url 'nova_posicao'%}" class="text-decoration-none text-reset" >Cadastrar posição</a></button>
    {% endif %}
</div>
  
{% if objetos_lista %}
<div class="container-fluid table-responsive">
    <table class="table">
        <thead class="table-dark">
            <th class="text-center">Posição</th>
            <th class="text-center">Area</th>
            <th class="text-center">Capacidade</th>
            <th class="text-center">Qntd. Armazenada</th>
            <th class="text-center">Ocupação(%)</th>
            <th class="text-center">Ociosidade</th>
            <th class="text-center">#</th>
        </thead>
        {% for objetos in objetos_lista%}
        <tbody>
            <th class="text-center fw-light">
                <a href="{% url 'detalhe' pk=objetos.id%}">{{objetos.posicao}}</a>
            </th>
            <th class="text-center"> {{objetos.get_area_display}}</th>
            <th class="text-center"> {{objetos.capacidade}}</th>
            <th class="text-center"> {{objetos.armazenado}}</th>
            <th class="text-center"> {{objetos.ocupacao}}</th>
            <th class="text-center"></th>
            <th class="text-center">
                <i class="fa-solid fa-gear pe-2" title="Editar" style="color: #204a87;"></i>
                <i class="fa-solid fa-xmark fa-lg pe-2" title="Apagar" style="color: #ef2929;"></i>
            </th>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="container-fluid">
    <p class="alert alert-warning">Sem posições cadastradas. Deseja <a href="{% url 'nova_posicao'%}">cadastrar</a>?</p>
</div>
{% endif %}


{% endblock content %}